{% load static %}

<!-- Footer Start -->
<footer id="rs-footer" class="rs-footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12 col-sm-12 footer-widget">
                    <div class="footer-logo mb-30">
                        <a href="{% url 'Home Page' %}"><img src="{% static 'images/webinoxmedia-logo.png' %}" alt="webinoxmedia footer logo"></a>
                    </div>
                    <div class="textwidget pb-30"><p>Our focus on conversion optimization makes us a different from other SEO Agencies. We provide a Creative, lifelong ROI approach with our SEO Strategies to support ongoing SERP growth and improvements.</p>
                    </div>
                    <h3 class="widget-title">Follow us</h3>
                    <ul class="footer-social md-mb-30">  
                        <li> 
                            <a href="https://www.facebook.com/WebinoxMedia/" target="_blank"><span><i class="fa fa-facebook"></i></span></a> 
                        </li>
                        <li> 
                            <a href="https://www.instagram.com/webinoxmedia_/" target="_blank"><span><i class="fa fa-instagram"></i></span></a> 
                        </li>
                        <li> 
                            <a href="https://www.linkedin.com/company/webinoxmedia/" target="_blank"><span><i class="fa fa-linkedin"></i></span></a> 
                        </li>
                        <li> 
                            <a href="https://twitter.com/WebinoxMedia" target="_blank"><span><i class="fa fa-twitter"></i></span></a> 
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 pl-45 md-pl-15 md-mb-30">
                    <h3 class="widget-title">IT Services</h3>
                    <ul class="site-map">
                        <li><a href="#">Web App Development</a></li>
                        <li><a href="#">Content Marketing</a></li>
                        <li><a href="#">Google & Facebooks Ads</a></li>
                        <li><a href="#">Search Engine Optimization</a></li>
                        <li><a href="#">Graphics & UI-UX Design</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-12 col-sm-12 md-mb-30">
                    <h3 class="widget-title">Contact Info</h3>
                    <ul class="address-widget">
                        <li>
                            <i class="flaticon-location"></i>
                            <div class="desc"><a href="https://g.page/WebinoxMedia?share" target="_blank" rel="nofollow">Lane no 7D, Tingre Nagar, Pune</a></div>
                        </li>
                        <li>
                            <i class="flaticon-call"></i>
                            <div class="desc">
                                <a href="tel:(+91)8263931667" target="_blank" rel="nofollow">(+91)8263931667</a>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-email"></i>
                            <div class="desc">
                                <a href="mailto:support@www.webinoxmedia.com" target="_blank" rel="nofollow">support@webinoxmedia.com</a>
                            </div>
                        </li>
                        <li>
                            <i class="flaticon-clock-1"></i>
                            <div class="desc">
                                Opening Hours: 10:00 - 18:00   
                            </div>
                        </li>
                    </ul>
                </div>
                <!--
                <div class="col-lg-3 col-md-12 col-sm-12">
                    <h3 class="widget-title">Newsletter</h3>
                    <p class="widget-desc">Don't worry. We don't spam. To stay updated about Digital Marekting & Lead Generation, subscribe our newsletter.</p>
                    <p>
                        <input type="email" name="EMAIL" placeholder="Your email address" required="">
                        <em class="paper-plane"><input type="submit" value="Sign up"></em>
                        <i class="flaticon-send"></i>
                    </p>
                </div>
                -->
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">                    
            <div class="row y-middle">
                <div class="col-lg-6 text-right md-mb-10 order-last">
                    <ul class="copy-right-menu">
                        <li><a href="#">About</a></li>
                        <li><a href="{% url 'Contact Page' %}">Contact</a></li>
                        <li><a href="#">Privacy</a></li>
                        <li><a href="#">Terms</a></li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <div class="copyright">
                        <p>&copy; <script>
                            document.write(new Date().getFullYear());
                        </script> Managed By <a href="http://www.expertyuva.com/">Yuvraaj Chandrakant Limbole</a></p>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</footer>
<!-- Footer End -->