{% load static %}
<!--Full width header Start-->
<div class="full-width-header">
    <!--Header Start-->
    <header id="rs-header" class="rs-header style3 modify2 header-transparent">
        <!-- Menu Start -->
        <div class="menu-area menu-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-2">
                        <div class="logo-part">
                            <a href="{% url 'Home Page' %}">
                                <img class="normal-logo" src="{% static 'images/webinoxmedia-logo-light.png' %}" alt="webinoxmedia light logo">  
                                <img class="sticky-logo" src="{% static 'images/webinoxmedia-logo.png' %}" alt="webinoxmedia main logo">
                            </a>
                        </div>
                        <div class="mobile-menu">
                            <a href="#" class="rs-menu-toggle rs-menu-toggle-close">
                                <i class="fa fa-bars"></i>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10 text-right">
                        <div class="rs-menu-area">
                            <div class="main-menu">
                                <nav class="rs-menu pr-100 lg-pr-50 md-pr-0">
                                    <ul class="nav-menu">
                                        <li>
                                            <a href="{% url 'Home Page' %}">Home</a>  
                                        </li>
                                        <li class="menu-item-has-children">
                                            <a href="#">Services</a>
                                            <ul class="sub-menu">
                                                <li><a href="#">Custom Applications</a> </li>
                                                <li><a href="#">Static & Dynamic Websites</a> </li>
                                                <li><a href="#">Content Marketing</a> </li>
                                                <li><a href="#">Search Engine Optimization</a></li>
                                                <li><a href="#">Google & Facebook Ads</a> </li>
                                                <li><a href="#">Ads Banner Designing</a> </li>
                                                <li><a href="#">Cyber Security</a></li>
                                            </ul>
                                        </li>
                                        <!--
                                        <li class="menu-item-has-children">
                                            <a href="#">Our Work</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item-has-children">
                                                    <a href="#">Why Choose us</a>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a href="#">Case Studies</a>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a href="#">Pricing</a>
                                                </li>
                                                <li class="menu-item-has-children">
                                                    <a href="#">Faq</a>
                                                </li>
                                            </ul>
                                        </li>
                                        -->
                                        <li>
                                            <a href="#">Blog</a>
                                        </li>
                                        <li>
                                            <a href="{% url 'Contact Page' %}">Contact</a>
                                        </li>
                                   </ul> <!-- //.nav-menu -->
                                </nav>                                        
                            </div> <!-- //.main-menu -->
                            
                            <div class="expand-btn-inner search-icon hidden-md">
                                <ul>
                                    <!--
                                    <li class="sidebarmenu-search">
                                        <a class="hidden-xs rs-search" data-target=".search-modal" data-toggle="modal" href="#">
                                            <i class="flaticon-search"></i>
                                        </a>
                                    </li>
                                    -->
                                    <li>
                                        <a id="nav-expander" class="humburger nav-expander" href="#">
                                            <span class="dot1"></span>
                                            <span class="dot2"></span>
                                            <span class="dot3"></span>
                                            <span class="dot4"></span>
                                            <span class="dot5"></span>
                                            <span class="dot6"></span>
                                            <span class="dot7"></span>
                                            <span class="dot8"></span>
                                            <span class="dot9"></span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Menu End -->                    
    </header>
    <!--Header End-->

    <!-- Canvas Menu start -->
    <nav class="right_menu_togle hidden-md">
        <div class="close-btn">
            <div class="nav-link">
                <a id="nav-close" class="humburger nav-expander" href="#">
                    <span class="dot1"></span>
                    <span class="dot2"></span>
                    <span class="dot3"></span>
                    <span class="dot4"></span>
                    <span class="dot5"></span>
                    <span class="dot6"></span>
                    <span class="dot7"></span>
                    <span class="dot8"></span>
                    <span class="dot9"></span>
                </a>
            </div>
        </div>
        <div class="canvas-logo">
            <a href="{% url 'Home Page' %}"><img src="{% static 'images/webinoxmedia-logo.png' %}" alt="webinoxmedia main logo"></a>
        </div>
        <div class="offcanvas-text">
            <p>WebinoxMedia provides Unique Approach For Your Business and Easy way to build perfect Brands for Digital Growth using Progressively innovate high standards in best practices.</p>
        </div>
        <div class="canvas-contact">
                <div class="address-area">
                    <div class="address-list">
                        <div class="info-icon">
                            <i class="flaticon-location"></i>
                        </div>
                        <div class="info-content">
                            <h4 class="title">Address</h4>
                            <em>
                                <a href="https://g.page/WebinoxMedia?share" target="_blank" rel="nofollow">
                                    Lane no 7D, Tingre Nagar, Pune
                                </a>
                            </em>
                        </div>
                    </div>
                    <div class="address-list">
                        <div class="info-icon">
                            <i class="flaticon-email"></i>
                        </div>
                        <div class="info-content">
                            <h4 class="title">Email</h4>
                            <em><a href="mailto:support@webinoxmedia.com" target="_blank" rel="nofollow">support@webinoxmedia.com</a></em>
                        </div>
                    </div>
                    <div class="address-list">
                        <div class="info-icon">
                            <i class="flaticon-call"></i>
                        </div>
                        <div class="info-content">
                            <h4 class="title">Phone</h4>
                            <em><a href="tel:918263931667" target="_blank" rel="nofollow">+91-8263931667</a></em>
                        </div>
                    </div>
                </div>
            <ul class="social">
                <li><a href="https://www.facebook.com/webinoxmedia" target="_blank" rel="nofollow"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.instagram.com/webinoxmedia_/" target="_blank" rel="nofollow"><i class="fa fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/webinoxmedia/" target="_blank" rel="nofollow"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="https://twitter.com/WebinoxMedia" target="_blank"><i class="fa fa-twitter" rel="nofollow"></i></a></li>
            </ul>
        </div>
    </nav>
    <!-- Canvas Menu end -->
</div>
<!--Full width header End-->