{% extends 'frontend/base.html' %}{% load static %}
{% block title %}WebinoxMedia{% endblock title %}
{% block seo_meta %}
<meta name="description" content="WebinoxMedia is the Leading a search engine optimization Agency in Pune that gives you not only a comprehensive SEO & High ROI results but focuses on conversion optimization.">
<meta name="keyword" content="seo agency, digital marketing agency, ppc marketing, Web Development Agency, web aaplication development agency, local seo agency, Google Ads, Facebook Ads, Social Media Marketing, Lead generation">
<meta name="author" content="Yuvraaj Chandrakant Limbole - WebinoxMedia" />
<meta name="robots" content="all" />
<meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
<meta property="article:published_time" content="2021-08-10GMT+053010:25:12+05:30" />
<meta property="article:modified_time" content="2021-08-10GMT+053009:05:21+05:30" />
<link rel="canonical" href="https://www.webinoxmedia.com/" />
<link rel="alternate" href="https://www.webinoxmedia.com/" hreflang="en-in" />

<meta property="og:type" content="website" />
<meta property="og:title" content="WebinoxMedia - Leading SEO & Digital Marketing Agency" />
<meta property="og:description" content="WebinoxMedia is the Leading a search engine optimization Agency in Pune that gives you not only a comprehensive SEO & High ROI results but focuses on conversion optimization." />
<meta property="og:image" content="https://www.webinoxmedia.com/img/webinoxmedia-logo.png" />
<meta property="og:site_name" content="WebinoxMedia" />
<meta property="og:url" content="https://www.webinoxmedia.com/" />
<meta property="article:publisher" content="https://www.facebook.com/webinoxmedia" />
<meta property="article:published_time" content="2021-08-10" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content="https://www.webinoxmedia.com/" />
<meta name="twitter:title" content="WebinoxMedia - Leading SEO & Digital Marketing Agency" />
<meta name="twitter:description" content="WebinoxMedia is the Leading a search engine optimization Agency in Pune that gives you not only a comprehensive SEO & High ROI results but focuses on conversion optimization." />
<meta name="twitter:image:src" content="https://www.webinoxmedia.com/img/webinoxmedia-logo.png" />
<meta name="twitter:site" content="@WebinoxMedia" />
<meta name="twitter:creator" content="@WebinoxMedia">
{% endblock seo_meta %}
{% block schema_json_markup %}
<script type="application/ld+json">
    {
        "@context": "http://schema.org",
        "@type": "Webpage",
        "headline": "WebinoxMedia - Leading SEO & Digital Marketing Agency",
        "@id": "https://www.webinoxmedia.com/#corporation",
        "thumbnailUrl": "https://www.webinoxmedia.com/img/webinoxmedia-logo.png",
        "dateCreated": "",
        "name": "WebinoxMedia",
        "description": "WebinoxMedia is the Leading a search engine optimization Agency in Pune that gives you not only a comprehensive SEO & High ROI results but focuses on conversion optimization.",
        "publisher": "WebinoxMedia",
        "creator": ["Yuvraaj Chandrakant Limbole - WebinoxMedia"],
        "keywords": ["seo agency, digital marketing agency, ppc marketing, Web Development Agency, web aaplication development agency, local seo agency, Google Ads, Facebook Ads, Social Media Marketing, Lead generation"]
    }
</script>
<script type="application/ld+json">
    {
        "@context": "http://schema.org/",
        "@type": "Corporation",
        "url": "https://www.webinoxmedia.com/",
        "logo": "https://www.webinoxmedia.com/images/logo.png"
    }
</script>
{% endblock schema_json_markup %}
{% block content %}
<!-- Banner Section Start -->
<div class="rs-banner style3 rs-rain-animate modify1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="banner-content">
                    <div class="rs-videos">
                        <div class="animate-border white-color style3">
                            <a class="popup-border popup-videos" href="https://www.youtube.com/watch?v=Z50XxxMDMtw">
                                <i class="fa fa-play"></i>
                            </a>
                        </div>
                    </div> 
                    <h1 class="title">We Are Digital Agency & Technology Solution </h1>
                    <p class="desc">
                        We are leading Digital solutions providing Agency all over the world doing over 3+ years.
                    </p>
                    <ul class="banner-btn">
                        <li><a class="readon started" href="tel:918263931667">Get Started</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>                
    <div class="images-part hidden-md">
        <img src="{% static 'images/banner/banner-4.png' %}" alt="digital marketing banner">
    </div>
    <div class="line-inner style2">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- Banner Section End -->

<!-- Partner Start -->
<div class="rs-partner style2 pt-50 pb-50">
    <div class="container">
        <h2 class="title" style="text-align: center;">Our Happy Clients </h2>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="4" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="3" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
            <div class="partner-item">
                <div class="logo-img">
                    <a href="htpps://www.gausrushti.com/" target="_blank">
                        <img src="{% static 'images/partner/style2/gs.png' %}" alt="gau srushti logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="https://www.sumanbuildcon.com/" target="_blank">
                        <img src="{% static 'images/partner/style2/sb-dark.png' %}" alt="Suman Buildcon logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="https://hema-makeupstudio.com/" target="_blank">
                        <img src="{% static 'images/partner/style2/hms.png' %}" alt="Hema Makeup logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="https://truedthservices.com/" target="_blank">
                        <img src="{% static 'images/partner/style2/true-dth.png' %}" alt="True DTH logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="https://shankydthservices.in/" target="_blank">
                        <img src="{% static 'images/partner/style2/shanky.png' %}" alt="Shanky DTH logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="https://sites.google.com/view/vedvyasclasses/" target="_blank">
                        <img src="{% static 'images/partner/style2/vc.png' %}" alt="Vedvyas Classes logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="#">
                        <img src="{% static 'images/partner/style2/ls.png' %}" alt="LadieStore logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="#">
                        <img src="{% static 'images/partner/style2/gk.png' %}" alt="GK Aqua Solutions logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Partner End -->

<!-- About Section Start -->
<div id="rs-about" class="rs-about pt-120 md-pt-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="sec-title mb-50">
                    <div class="sub-text style4-bg">Our Experties</div>
                    <h2 class="title pb-20">
                        Over 3+ Years Helping Brands to Reach Full Potential
                    </h2>
                    <div class="desc">
                        Over 3+ years working in Digital & IT services developing software applications and mobile apps for clients all over the world. Our focus on conversion optimization makes us a different from other SEO Agencies. We provide a Creative, lifelong ROI approach with our SEO & Content Marketing Strategies to support ongoing SERP growth and improvements.
                    </div>
                </div>
                <!-- Counter Section Start -->
                <div class="rs-counter style3">
                    <div class="container">
                        <div class="counter-top-area">
                            <div class="row">
                                <div class="col-sm-6 sm-pr-0 sm-pl-0 xs-mb-30">
                                    <div class="counter-list">
                                        <div class="counter-text">
                                            <div class="count-number">
                                                <span class="rs-count plus orange-color">45</span>
                                            </div>
                                            <h3 class="title">Happy Clients</h3>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 sm-pr-0 sm-pl-0">
                                    <div class="counter-list">
                                        <div class="counter-text">
                                            <div class="count-number">
                                                <span class="rs-count plus">750</span>
                                            </div>
                                            <h3 class="title">Project Delivered</h3>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>
                </div>
                <!-- Counter Section End -->
            </div>
            <div class="col-lg-7">
                <!-- Services Section Start -->
                <div class="rs-services style3 md-pt-50">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-6 pr-10 pt-40 sm-pt-0 sm-pr-0 sm-pl-0">
                                <div class="services-item mb-20">
                                    <div class="services-icon">
                                        <div class="image-part">
                                            <img class="main-img" src="{% static 'images/services/style3/main-img/1.png' %}" alt="services banner 1">
                                            <img class="hover-img" src="{% static 'images/services/style3/hover-img/1.png' %}" alt="services banner 1">
                                        </div>
                                    </div>
                                    <div class="services-content">
                                        <div class="services-text">
                                            <h3 class="title"><a href="web-development.html">High-ROI</a></h3>
                                        </div>
                                        <div class="services-desc">
                                            <p>
                                                Quickly extend granular manufactured products after inexpensive ideas. Uniquely syndicate focused e-business.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-item cyan-bg">
                                    <div class="services-icon">
                                        <div class="image-part">
                                            <img class="main-img" src="{% static 'images/services/style3/main-img/2.png' %}" alt="High ROI Banner">
                                            <img class="hover-img" src="{% static 'images/services/style3/hover-img/2.png' %}" alt="High ROI Banner hover">
                                        </div>
                                    </div>
                                    <div class="services-content">
                                        <div class="services-text">
                                            <h3 class="title"><a href="#">360-degree transformation</a></h3>
                                        </div>
                                        <div class="services-desc">
                                            <p>
                                                Our experts craft tailor-made digital strategies for you using niche technologies depending on your goals, services, and R&D.
                                            </p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                            <div class="col-md-6 pl-10 sm-pr-0 sm-pl-0 sm-mt-20">
                                <div class="services-item gold-bg mb-20">
                                    <div class="services-icon">
                                        <div class="image-part">
                                            <img class="main-img" src="{% static 'images/services/style3/main-img/3.png' %}" alt="Crafting image banner">
                                            <img class="hover-img" src="{% static 'images/services/style3/hover-img/3.png' %}" alt="Craefting image banner 1">
                                        </div>
                                    </div>
                                    <div class="services-content">
                                        <div class="services-text">
                                            <h3 class="title"><a href="#">Agile Approach</a></h3>
                                        </div>
                                        <div class="services-desc">
                                            <p>
                                                Using the Most Creative SEO techniques with a core ROI focus Leads Generation.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="services-item blue-bg">
                                    <div class="services-icon">
                                        <div class="image-part">
                                            <img class="main-img" src="{% static 'images/services/style3/main-img/4.png' %}" alt="Agile Approach banner">
                                            <img class="hover-img" src="{% static 'images/services/style3/hover-img/4.png' %}" alt="Agile Approach banner 1">
                                        </div>
                                    </div>
                                    <div class="services-content">
                                        <div class="services-text">
                                            <h3 class="title"><a href="#">Search Engine Friendly</a></h3>
                                        </div>
                                        <div class="services-desc">
                                            <p>
                                                Ethical SEO Agency - You will likely see a greater ROI and better results from using a professional SEO agency.
                                            </p>
                                        </div>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Services Section End -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->

<!-- About Section Start -->
<div class="rs-about style2 modify1 pt-120 pb-120 md-pt-70 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 hidden-md">
                <div class="images">
                    <img src="{% static 'images/about/about-5.png' %}" alt="About us banner"> 
                </div> 
            </div>
            <div class="col-lg-6 pl-60 md-pl-15">
                <div class="sec-title mb-30">
                    <div class="sub-text style4-bg">About Us</div>
                    <h2 class="title pb-20">
                        We Are Increasing Business Success With Technology
                    </h2>
                    <div class="desc">
                        Enjoy more qualified leads with a powerful marketing strategy with gaps and our recommendations to bridge and make that leap towards high user engagement.
                    </div>
                </div>
                <!-- Skillbar Section Start -->
                <div class="rs-skillbar style1 home4">
                    <div class="cl-skill-bar">
                        <!-- Start Skill Bar -->
                        <span class="skillbar-title">Content Marketing</span>
                        <div class="skillbar" data-percent="78">
                            <p class="skillbar-bar pink-bg"></p>
                            <span class="skill-bar-percent"></span> 
                        </div>
                        <!-- Start Skill Bar -->
                        <span class="skillbar-title">Custom Web Applications</span>
                        <div class="skillbar" data-percent="92">
                            <p class="skillbar-bar"></p>
                            <span class="skill-bar-percent"></span> 
                        </div>
                        <!-- Start Skill Bar -->
                        <span class="skillbar-title">Cyber Security</span>
                        <div class="skillbar" data-percent="80">
                            <p class="skillbar-bar paste-bg"></p>
                            <span class="skill-bar-percent"></span> 
                        </div>
                        <!-- Start Skill Bar -->
                        <span class="skillbar-title">Artificial Intelligence</span>
                        <div class="skillbar" data-percent="95">
                            <p class="skillbar-bar blue-bg"></p>
                            <span class="skill-bar-percent"></span> 
                        </div>
                        <div class="btn-part mt-45">
                            <a class="readon started" href="https://wa.me/918263931667" target="_blank" rel="nofollow">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- Skillbar Section End -->
            </div>
        </div>
    </div>
</div>
<!-- About Section End -->

<!-- Services Section Start -->
<div class="rs-services style3 rs-rain-animate gray-color pt-120 pb-120 md-pt-70 md-pb-80">
    <div class="container">
        <div class="row md-mb-60">
            <div class="col-lg-6 mb-60 md-mb-20">
                <div class="sec-title2 md-center">
                    <span class="sub-text">Services</span>
                    <h2 class="title testi-title">
                        What Solutions We Provide to Our Valued Customers
                    </h2>
                </div>
            </div>
            <div class="col-lg-6 mb-60 md-mb-0">
                <div class="btn-part text-right mt-60 md-mt-0 md-center">
                    <a class="readon started" href="tel:918263931667" target="_blank" rel="nofollow">Call Now</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="services-item pink-bg">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img" src="{% static 'images/services/style2/main-img/2.png' %}" alt="Web development banner">
                            <img class="hover-img" src="{% static 'images/services/style2/hover-img/2.png' %}" alt="web development banner 1">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a href="#">Web Design & Development</a></h3>
                        </div>
                        <div class="services-desc">
                            <p>
                                Developing Intelligent Digital Outcomes with the power of emerging technologies to help brands build cutting edge cloud-based web applications to scale, improve operational effectiveness, visually pleasing and meet customer expectations. 
                            </p>
                        </div>
                        <div class="serial-number">
                                01 
                            </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="services-item">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img" src="{% static 'images/services/style2/main-img/1.png' %}" alt="servies banner of webinoxmedia">
                            <img class="hover-img" src="{% static 'images/services/style2/hover-img/1.png' %}" alt="hovered services banner">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a href="#">Content Marketing</a></h3>
                        </div>
                        <div class="services-desc">
                            <p>
                                Content marketing costs less and converts higher. Our content marketing services proved for awareness & engagement. Unique solution for your unique needs; Consulting plus platform approach of Distributing and marketing the content
                            </p>
                        </div>
                        <div class="serial-number">
                                02 
                            </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 mb-20">
                <div class="services-item aqua-bg">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img" src="{% static 'images/services/style2/main-img/3.png' %}" alt="Search engine image">
                            <img class="hover-img" src="{% static 'images/services/style2/hover-img/3.png' %}" alt="search engine image1">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a href="#">Search Engine Marketing</a></h3>
                        </div>
                        <div class="services-desc">
                            <p>
                                Search Engine Marketing (SEM) for Business Growth always been in demand of attracting target users using Paid-Ads or SEO by which your Business will be visible on Google’s top 10 positions. Once you get in top 10 Results - ROI will be 187%
                            </p>
                        </div>
                        <div class="serial-number">
                                03 
                            </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 md-mb-20">
                <div class="services-item paste-bg">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img" src="{% static 'images/services/style2/main-img/4.png' %}" alt="cloud and devops image">
                            <img class="hover-img" src="{% static 'images/services/style2/hover-img/4.png' %}" alt="cloude and devops hovered image">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a href="#">Clould & DevOps</a></h3>
                        </div>
                        <div class="services-desc">
                            <p>
                                Custom Web Based Applications is in demand for every business to scale exponentially with robust, highly functional, user-friendly web apps. 85% of Successfull Brands use Web Apps for Automation Tasks.
                            </p>
                        </div>
                        <div class="serial-number">
                                04 
                            </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6 sm-mb-20">
                <div class="services-item blue-bg">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img" src="{% static 'images/services/style2/main-img/5.png' %}" alt="graphics ui and ux image">
                            <img class="hover-img" src="{% static 'images/services/style2/hover-img/5.png' %}" alt="graphics ui and ux image">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a href="#">Banner Ads or Ad Copy</a></h3>
                        </div>
                        <div class="services-desc">
                            <p>
                                The designs are the mirror of your brand. To get some really Engaging designs for your Ad Campaigns, our Experienced Graphic Designers in will give Highly Creative and user convertible Ad Coppies and Banners as per Your Business Policies.
                            </p>
                        </div>
                        <div class="serial-number">
                                05 
                            </div>
                    </div>
                </div> 
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="services-item green-bg">
                    <div class="services-icon">
                        <div class="image-part">
                            <img class="main-img" src="{% static 'images/services/style2/main-img/6.png' %}" alt="PPC Services image">
                            <img class="hover-img" src="{% static 'images/services/style2/hover-img/6.png' %}" alt="PPC Services image">
                        </div>
                    </div>
                    <div class="services-content">
                        <div class="services-text">
                            <h3 class="title"><a href="#">Cyber Security</a></h3>
                        </div>
                        <div class="services-desc">
                            <p>
                                In the Digital Era and COVID19 forcefully made for The protection of computer systems and networks from information disclosures. <b>We will start working in this area soon.</b> Our team is in Testing phase get started with Low cost service in India.
                            </p>
                        </div>
                        <div class="serial-number">
                                06 
                            </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
    <div class="line-inner">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- Services Section End -->

<!-- Choose Section Start -->
<div class="rs-why-choose pt-120 pb-120 md-pt-70 md-pb-75">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 hidden-md">
                <div class="image-part">
                    <img src="{% static 'images/choose/2.png' %}" alt="iamge part1">
                </div>
                <div class="animation style2">
                    <div class="top-shape">
                        <img class="dance" src="{% static 'images/choose/dotted-2.png' %}" alt="dancing image 2">
                    </div>
                    <div class="bottom-shape">
                        <img class="dance2" src="{% static 'images/choose/dotted-1.png' %}" alt="dotted image">
                    </div>
                </div> 
            </div>
            <div class="col-lg-6 pl-60 md-pl-15">
                <div class="sec-title mb-40">
                    <div class="sub-text style4-bg left">Why Choose Us</div>
                    <h2 class="title pb-20">
                        We Create Result-Oriented Digital Marketing
                    </h2>
                    <div class="desc">
                        Over 3+ years working in Digital/Internet services for developing Web applications, SEO & Google Ads for clients all over the world.
                    </div>
                </div>
                <div class="services-wrap mb-25">
                    <div class="services-icon">
                        <img src="{% static 'images/choose/icons/1.png' %}" alt="Research and Analysis icon">
                    </div>
                    <div class="services-text">
                        <h3 class="title"><a href="#">Reseacrh & Analysis</a></h3>
                        <p class="services-txt">Analysing & Applying transitioning users behaviour.</p>
                    </div>
                </div>
                <div class="services-wrap mb-25">
                    <div class="services-icon">
                        <img src="{% static 'images/choose/icons/2.png' %}" alt="creative strategies icon">
                    </div>
                    <div class="services-text">
                        <h3 class="title"><a href="#">Creative Strategies</a></h3>
                        <p class="services-txt">New age digital media where consumers, you gets engaged.</p>
                    </div>
                </div>
                <div class="services-wrap">
                    <div class="services-icon">
                        <img src="{% static 'images/choose/icons/3.png' %}" alt="Remarketing and Optimization icon">
                    </div>
                    <div class="services-text">
                        <h3 class="title"><a href="#">Remarketing & Optimization</a></h3>
                        <p class="services-txt">Buyers funnel and Creative Content to identify a Target Audience.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Choose Section End -->

<!-- Choose Section Start -->
<div class="rs-why-choose style2 gray-color rs-rain-animate pt-120 pb-120 md-pt-70 md-pb-80">
    <div class="container">
        <div class="row">
            <div class="col-xl-7 col-lg-6 md-mb-30">
                <div class="sec-title mb-40">
                    <div class="sub-text style4-bg left">Let's Talk</div>
                    <h2 class="title pb-20">
                        Speak With Experts.
                    </h2>
                    <div class="desc">
                        Speak directly to your customers with strategic content marketing<br>
                        We tailor the content to your potential customer’s needs and interests.
                    </div>
                </div>
                <div class="services-wrap mb-25">
                    <div class="services-icon">
                        <img src="{% static 'images/choose/icons/style2/1.png' %}" alt="email icon">
                    </div>
                    <div class="services-text">
                        <h3 class="title">Email</h3>
                        <p class="services-txt"><a href="mailto:support@webinoxmedia.com" target="_blank">support@webinoxmedia.com</a></p>
                    </div>
                </div>
                <div class="services-wrap mb-25">
                    <div class="services-icon">
                        <img src="{% static 'images/choose/icons/style2/2.png' %}" alt="call icon">
                    </div>
                    <div class="services-text">
                        <h3 class="title">WhatsApp / Call Us</h3>
                        <p class="services-txt"><a href="https://wa.me/918263931667" target="_blank"> (+91) 8263931667</a></p>
                    </div>
                </div>
                <div class="services-wrap">
                    <div class="services-icon">
                        <img src="{% static 'images/choose/icons/style2/3.png' %}" alt="address icon">
                    </div>
                    <div class="services-text">
                        <h3 class="title">Office Address</h3>
                        <p class="services-txt"><a href="https://g.page/WebinoxMedia?share" target="_blank">Lane no 7D, Tingre Nagar, Pune - 411032</a></p>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-lg-6">
                <div class="rs-contact mod1">
                    <div class="contact-wrap">
                        <div class="content-part mb-25">
                            <h2 class="title mb-15">Schedule Appointment</h2>
                            <p class="desc">We here to help you 24/7 with experts</p>
                        </div>
                        <div id="form-messages"></div>
                        <form id="contact-form" method="post" action="">
                            {% csrf_token %}
                            <fieldset>
                                <div class="row">
                                    <div class="col-lg-12 mb-15 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="name" name="name" placeholder="Name" required="">
                                    </div> 
                                    <div class="col-lg-12 mb-15 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="email" name="email" placeholder="E-Mail" required="">
                                    </div>   
                                    <div class="col-lg-12 mb-15 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="phone" name="phone" placeholder="Phone Number" required="">
                                    </div>   
                                    <div class="col-lg-12 mb-25 col-md-6 col-sm-6">
                                        <input class="from-control" type="text" id="Website" name="website" placeholder="Your Website" required="">
                                    </div>
                                </div>
                                <div class="form-group mb-0">
                                    <input class="submit-btn orange-btn" type="submit" value="Submit Now">
                                </div>
                            </fieldset>
                        </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-inner">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- Choose Section End -->

<!-- Blog Section Start -->
<!--
<div id="rs-blog" class="rs-blog pt-120 pb-120 md-pt-70 md-pb-80">
    <div class="container">  
        <div class="sec-title2 text-center mb-30">
            <span class="sub-text">Blogs</span>
                <h2 class="title testi-title">
                    Latest Tips &Tricks
                </h2>
            <div class="desc">
                We've been building creative content for your business and have a new age solutions with rising contemprory issues.
            </div>
        </div>
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="3" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="2" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="3" data-md-device-nav="false" data-md-device-dots="false">
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="blog-details-2.html"><img src="{% static 'images/blog/main-home/1.jpg' %}" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="#">Software Development</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <ul class="blog-meta">
                        <li class="date"><i class="fa fa-calendar-check-o"></i> 16 Nov 2020</li>
                        <li class="admin"><i class="fa fa-user-o"></i> admin</li>
                    </ul>
                    <h3 class="blog-title"><a href="#">Necessity May Give Us Your Best Virtual Court System</a></h3>
                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled...</p>
                    <div class="blog-button"><a href="#">Learn More</a></div>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="blog-details-2.html"><img src="{% static 'images/blog/main-home/2.jpg' %}" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="#"> Web Development</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <ul class="blog-meta">
                        <li class="date"><i class="fa fa-calendar-check-o"></i> 20 December 2020</li>
                        <li class="admin"><i class="fa fa-user-o"></i> admin</li>
                    </ul>
                    <h3 class="blog-title"><a href="#">Tech Products That Makes Its Easier to Stay at Home</a></h3>
                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled...</p>
                    <div class="blog-button"><a href="#">Learn More</a></div>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="blog-details-2.html"><img src="{% static 'images/blog/main-home/3.jpg' %}" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="#">It Services</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <ul class="blog-meta">
                        <li class="date"><i class="fa fa-calendar-check-o"></i> 22 December 2020</li>
                        <li class="admin"><i class="fa fa-user-o"></i> admin</li>
                    </ul>
                    <h3 class="blog-title"><a href="#">Open Source Job Report Show More Openings Fewer</a></h3>
                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled...</p>
                    <div class="blog-button"><a href="#">Learn More</a></div>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="blog-details-2.html"><img src="{% static 'images/blog/main-home/4.jpg' %}" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="#">Artifical Intelligence</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <ul class="blog-meta">
                        <li class="date"><i class="fa fa-calendar-check-o"></i> 26 December 2020</li>
                        <li class="admin"><i class="fa fa-user-o"></i> admin</li>
                    </ul>
                    <h3 class="blog-title"><a href="#">Types of Social Proof What its Makes Them Effective</a></h3>
                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled...</p>
                    <div class="blog-button"><a href="#">Learn More</a></div>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="blog-details-2.html"><img src="{% static 'images/blog/main-home/5.jpg' %}" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="#">Digital Technology</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <ul class="blog-meta">
                        <li class="date"><i class="fa fa-calendar-check-o"></i> 28 December 2020</li>
                        <li class="admin"><i class="fa fa-user-o"></i> admin</li>
                    </ul>
                    <h3 class="blog-title"><a href="#">Tech Firms Support Huawei Restriction, Balk at Cost</a></h3>
                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled...</p>
                    <div class="blog-button"><a href="#">Learn More</a></div>
                </div>
            </div>
            <div class="blog-item">
                <div class="image-wrap">
                    <a href="blog-details-2.html"><img src="{% static 'images/blog/main-home/6.jpg' %}" alt=""></a>
                    <ul class="post-categories">
                        <li><a href="#">It Services</a></li>
                    </ul>
                </div>
                <div class="blog-content">
                    <ul class="blog-meta">
                        <li class="date"><i class="fa fa-calendar-check-o"></i> 30 December 2020</li>
                        <li class="admin"><i class="fa fa-user-o"></i> admin</li>
                    </ul>
                    <h3 class="blog-title"><a href="#">Servo Project Joins The Linux Foundation Fold Desco</a></h3>
                    <p class="desc">We denounce with righteous indige nation and dislike men who are so beguiled...</p>
                    <div class="blog-button"><a href="#">Learn More</a></div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<!-- Blog Section End -->

<!-- Testimonial Section Start -->
<div class="rs-testimonial main-home rs-rain-animate style4 gray-color modify1 md-fixing">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 hidden-md">
                <div class="testi-image">
                    <img src="{% static 'images/testimonial/testimonial-2.png' %}" alt="testimonial-2"> 
                </div> 
            </div>
            <div class="col-lg-6 pl-50 md-pl-15">
                <div class="sec-title mb-50">
                    <div class="sub-text style4-bg left testi">Testimonials</div>
                    <h2 class="title pb-20">
                        What Customer Saying
                    </h2>
                    <div class="desc">
                        We’d love to discuss with you how we can help you grow your business. Let's have a conversation about your goals, objectives and how we can help you overcome your most pressing marketing challenges.
                    </div>
                </div>
                <div class="rs-carousel owl-carousel" 
                    data-loop="true" 
                    data-items="1" 
                    data-margin="30" 
                    data-autoplay="true" 
                    data-hoverpause="true" 
                    data-autoplay-timeout="5000" 
                    data-smart-speed="800" 
                    data-dots="true" 
                    data-nav="false" 
                    data-nav-speed="false" 

                    data-md-device="1" 
                    data-md-device-nav="false" 
                    data-md-device-dots="false" 
                    data-center-mode="false"

                    data-ipad-device2="1" 
                    data-ipad-device-nav2="false" 
                    data-ipad-device-dots2="false"

                    data-ipad-device="1" 
                    data-ipad-device-nav="false" 
                    data-ipad-device-dots="true" 

                    data-mobile-device="1" 
                    data-mobile-device-nav="false" 
                    data-mobile-device-dots="false">
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc"><img class="quote" src="{% static 'images/testimonial/main-home/quote2.png' %}" alt="quote21">Thanks for a superb Service. Good responses, creative approach and looking forward to work with them again. The support has been wonderful with same day answers to all the questions I had about ongoing activites and improving business growth.</div>
                        </div>
                        <div class="testimonial-content">
                            <div class="author-img">
                                <img src="{% static 'images/testimonial/main-home/1.jpg' %}" alt="Ashwini Kapase">
                            </div>
                            <div class="author-part">
                                <a class="name" href="#">Ashwini Kapase</a>
                                <span class="designation">Owner of Ladies wear</span>
                            </div>
                        </div>
                    </div>
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc"><img class="quote" src="{% static 'images/testimonial/main-home/quote2.png' %}" alt="quote11">Thanks for a bonus tips and trick regarding online marketing strategy. Since 16 month, monthly we are experiencing 10% increase in sales. In 2021, we are getting High conversions for our Ghee business.</div>
                        </div>
                        <div class="testimonial-content">
                            <div class="author-img">
                                <img src="{% static 'images/testimonial/main-home/2.jpg' %}" alt="Hema Mahadik">
                            </div>
                            <div class="author-part">
                                <a class="name" href="#">Hema Mahadik</a>
                                <span class="designation">Owner of Hema Makeup Studio</span>
                            </div>
                        </div>
                    </div>
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc"><img class="quote" src="{% static 'images/testimonial/main-home/quote2.png' %}" alt="quote21">Thank webinoxmedia. You did good job. Thanks once again to grow my business online. I appreciate your efforts and strategies you explained and worked. Now we are getting good customers from all over India. We will be in touch with you for more digital services. Thanks.😊</div>
                        </div>
                        <div class="testimonial-content">
                            <div class="author-img">
                                <img src="{% static 'images/testimonial/main-home/3.jpg' %}" alt="Bakuli">
                            </div>
                            <div class="author-part">
                                <a class="name" href="#">Bakuli</a>
                                <span class="designation">Gau Srushti</span>
                            </div>
                        </div>
                    </div>
                    <div class="testi-item">
                        <div class="author-desc">           
                            <div class="desc"><img class="quote" src="{% static 'images/testimonial/main-home/quote2.png' %}" alt="quote2">Positive Communications commissioned WebinoxMedia to create the branding and websites for our clients, The Suman Buildcon. They helped me build my online presence we gave him all the information — they handled everything else— got the right people — the outcome has been amazing. </div>
                        </div>
                        <div class="testimonial-content">
                            <div class="author-img">
                                <img src="{% static 'images/testimonial/main-home/4.jpg' %}" alt="Niteen Suple">
                            </div>
                            <div class="author-part">
                                <a class="name" href="#">Niteen Suple</a>
                                <span class="designation">Real Estate Developer</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="line-inner">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
</div>
<!-- Testimonial Section End -->

<!-- Partner Start -->
<div class="rs-partner pt-80 pb-70">
    <div class="container">
        <div class="rs-carousel owl-carousel" data-loop="true" data-items="5" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="2" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="3" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="3" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="5" data-md-device-nav="false" data-md-device-dots="false">
            <div class="partner-item">
                <div class="logo-img">
                    <a href="#">
                        <img class="hover-logo" src="{% static 'images/partner/hema-makeup.png' %}" alt="Hema Makeup logo">
                        <img class="main-logo" src="{% static 'images/partner/hema-makeup.png' %}" alt="Hema Makeup logo hovered">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="#">
                        <img class="hover-logo" src="{% static 'images/partner/sb.png' %}" alt="suman buildcon logo">
                        <img class="main-logo" src="{% static 'images/partner/sb.png' %}" alt="suman buildcon hovered logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="#">
                        <img class="hover-logo" src="{% static 'images/partner/gs.png' %}" alt="gausrushti logo">
                        <img class="main-logo" src="{% static 'images/partner/gs.png' %}" alt="gausrushti hovered logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="#">
                        <img class="hover-logo" src="{% static 'images/partner/shanky.png' %}" alt="shanky dth services logo">
                        <img class="main-logo" src="{% static 'images/partner/shanky.png' %}" alt="shanky dth services hovered logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="#">
                        <img class="hover-logo" src="{% static 'images/partner/true-dth.png' %}" alt="true dth services logo">
                        <img class="main-logo" src="{% static 'images/partner/true-dth.png' %}" alt="true dth services hovered logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="#">
                        <img class="hover-logo" src="{% static 'images/partner/vc.png' %}" alt="vedvyas classes logo">
                        <img class="main-logo" src="{% static 'images/partner/vc.png' %}" alt="vedvyas classes hovered logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="#">
                        <img class="hover-logo" src="{% static 'images/partner/ls.png' %}" alt="ladiestore logo">
                        <img class="main-logo" src="{% static 'images/partner/ls.png' %}" alt="ladiestore hovered logo">
                    </a>
                </div>
            </div>
            <div class="partner-item">
                <div class="logo-img">
                    <a href="#">
                        <img class="hover-logo" src="{% static 'images/partner/gk.png' %}" alt="GK Aqua Solutions logo">
                        <img class="main-logo" src="{% static 'images/partner/gk.png' %}" alt="GK Aqua Solutions hovered logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Partner End -->
{% endblock content %}